{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="static/style.css">
    <title>Edit Profile</title>
{% endblock %}

{% block body %}
    <div class="details">
      <h4 style="text-align: center;">{{ message }}</h4>
      <div class="form">
        <form class="edit-profile" action="{{ url_for('editprofile') }}" method="POST">
          <input name="name" type="text" value="{{ user.name }}"/>
          <input name="password" type="password" placeholder="Current Password"/>
          <input name="newPassword" type="password" placeholder="New Password"/>
          <input name="confirmPassword" type="password" placeholder="Confirm Password"/>
          <input name="phoneNumber" type="text" value="{{ user.phoneNumber }}"/>
          <input name="sequrityQuestion" type="text" value="{{ user.sequrityQuestion }}"/>
          <input name="sequrityAnswer" type="text" value="{{ user.sequrityAnswer }}"/>

          <button name="response" type="submit" style="margin: 4px" value="Update">Update</button>
          <button name="response" type="submit" style="margin: 4px" value="Cancel">Cancel</button>
        </form>
      </div>
    </div>
{% endblock %}
