{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="static/style.css">
    <title>Edit Profile</title>
{% endblock %}

{% block body %}
    
    <div class="details">
      <h4 align="center">EDIT PROFILE</h4> 
      <div class="form">
        <form class="edit-profile" action="{{ url_for('login') }}" method="POST">
          <input name="name" type="text" value="{{ user["name"] }}"/>
          <input name="password" type="password" placeholder="Current Password"/>
          <input name="newPassword" type="password" placeholder="New Password"/>
          <input name="newPassword" type="password" placeholder="Confirm Password"/>
          <input name="phoneNumber" type="text" value="{{ user["phoneNumber"] }}"/>
  
          <button name="update" type="submit" style="margin: 6px">Update</button>
          <button name="cancel" type="submit" style="margin: 6px">Cancel</button>
        </form>
      </div>
    </div>
{% endblock %}