{% extends "menu.html" %}

{% block head %}
    <title>Rating</title>
{% endblock %}

{% block body %}
    {% for poll in polls %}
        <div class="poll" style="width: 100%; margin: 40px; text-align: center;">
            <p style="text-align: ">{{ poll.user.name }}</p>
            <h3 style="width: 100%;">{{ poll.pollQuestion }}</h3>
            <!-- <form action="{{ url_for('vote') }}" method="POST"> -->
                <input type="number" name="poll" value="{{ poll.id }}" style="display: none;">
                <div class="options" style="text-align: center;">
                    {% for option in poll.options %}
                        <input type="radio" id="{{ loop.index }}" name="choice" value="{{ option.id }}" style="display: inline;">
                        <label for="{{ loop.index }}">{{ option.optionData }}</label>
                    {% endfor %}
                </div>
                <div style="text-align: center">
                    <input type="submit" name="response" value="Choose">
                    <input type="submit" name="response" value="Report">
                </div>
            <!-- </form> -->
        </div>
    {% endfor %}
{% endblock %}
